<?xml version="1.0"?>
<configuration>
  <log4net debug="false">
    <root>
      <priority value="INFO"/>
      <appender-ref ref="rollingFile"/>
      <appender-ref ref="console"/>
    </root>

    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <acceptOnMatch value="true" />
      </filter>
      <param name="File" type="log4net.Util.PatternString" value=".\Error Logs\D2RLaunch.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="MaximumFileSize" value="20MB"/>
      <param name="MaxSizeRollBackups" value="-1"/>
      <param name="DatePattern" value=".yyyy.MM.dd'.log'"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>